.hidden {
  display: none;
}

.dark {
  background: rgb(27, 36, 36);
  color: rgb(246, 250, 253);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

#setup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(147, 207, 50);
}
#setup > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 10px;
}

#buttons {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  background: rgb(96, 84, 202);
  color: rgb(236, 241, 238);
  height: 40px;
  width: 130px;
  font-size: medium;
}

#timer,
#lives {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#game {
  display: flex;
  justify-content: center;
}

#number-container > p {
  border: 1px solid black;
  border-radius: 20%;
  width: 60px;
  height: 60px;
  font-size: 40pt;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
}

#board {
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 600px;
  height: 600px;
}

.tile {
  border: 1px solid rgb(238, 226, 52);
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 0px;
  vertical-align: middle;
  font-size: 40pt;
  padding: 0;
  cursor: pointer;
}
.fixed {
  background: rgb(111, 112, 109);
  color: white;
  cursor: not-allowed;
}

.selected {
  background: lightblue;
}

.incorrect {
  color: red;
}
.correct {
  color: green;
}

.rightBorder {
  border-right: 4px solid yellow;
}

.bottomBorder {
  border-bottom: 4px solid yellow;
}
